.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
}

@media (max-width: 1600px) {
    .cards-container {
        justify-content: space-around;
    }
}