.sort {
    width: 31%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
}
.sort-title {
    font-size: 21px;
    text-transform: uppercase;
}
.sort-select {
    appearance: none;    
    font: inherit;
    width: 100%;
    height: 40px;
    padding: 5px 30px;
    margin: 10px 0;
    margin-bottom: 125px;
    background-color: rgba(31, 100, 127, .3);
    background-image: url('../../../../../assets/svg/arrow-down.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right center;    
    border-radius: 20px;
    border: 1px solid #1b6370;
    font-size: 20px;   
    color: #fff;
    cursor: pointer;
}
.reset {
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #1b6370;
    background-color: rgba(31, 100, 127, .3);
    font-size: 20px;   
    color: #fff;
    font: inherit;
    cursor: pointer;
}